<!DOCTYPE html>
<html lang="en" ng-app="3TPlus">
<head>
    <meta charset="UTF-8">
    <title>3T+</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="script.js"></script>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController" ng-init="init()" ng-class="{ 'disabled': me.id !== game.currentPlayerID }" ng-mousemove="resetActive()">

    <div class="container-fluid">
        <div class="row">
            <div class="input-group col-sm">
                <input ng-disabled="me.name.length" type="text" class="form-control" placeholder="Username" ng-model="username">
                <div class="input-group-append">
                    <button class="btn btn-secondary" ng-disabled="me.name.length" type="button" ng-click="tryEnterGame()">Join</button>
                </div>
            </div>
            <div class="btn-group col-sm">
                <button class="btn btn-outline-secondary" type="button" ng-click="tryReset('game')">Reset game</button>
                <button class="btn btn-outline-secondary" type="button" ng-click="tryReset('players')">Reset players</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered players">
        <thead>
            <tr>
                <th colspan="2">Players</th>
                <th>Pawns</th>
                <th>Expands</th>
                <th>Network</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in game.players" ng-class="{ 'table-active': player.id === game.currentPlayerID }">
                <td ng-class="{ 'me': player.pawn === me.pawn && player.name == me.name }">{{ player.name }}</td>
                <td class="gamecell pawncell {{ player.pawn }}"></td>
                <td>{{ player.pawns }}</td>
                <td>{{ player.expands }}</td>
                <td class="align-middle" ng-class="{ 'led-green': player.networkIndicator === 0, 'led-orange': player.networkIndicator === 1, 'led-red': player.networkIndicator === 2 }"></td>
                <td class="align-middle" ng-class="{ 'led-green': player.activityIndicator === 0, 'led-orange': player.activityIndicator === 1, 'led-red': player.activityIndicator === 2 }"></td>
            </tr>
        </tbody>
    </table>

    <table class="gameboard" ng-class="{ 'tool-expand': expandTool.x >= 0 }" ng-mouseleave="mouseOut()">
        <tr ng-repeat="line in game.grid track by $index" ng-init="y = $index">
            <td ng-repeat="cell in line track by $index" ng-init="x = $index"
                ng-mouseover="mouseOver(x, y)"
                ng-click="mouseClick(x, y)"
                ng-class="{ 'cross': cell === 0, 'circle': cell === 1, 'square': cell === 2, 'triangle': cell === 3,
                            'discovered': cell === -1, 'pawncell': cell >= 0 && cell < 4, 'last-pawn': game.lastPawn.x === x && game.lastPawn.y === y,
                             'winning-pawn': game.currentPlayerID === -1 ? isWinningPawn(x, y) : false }"
                class="gamecell {{ getExpandClass(x, y) }}"></td>
            <!-- {{ ghostPawn.x !== -1 && ghostPawn.x === x && ghostPawn.y === y && cell === -1 ? 'ghostpawn ' + me.pawn : '' }}  -->
        </tr>
    </table>

</body>
</html>