@cellSize: 20px;

@crossColor: darkblue;
@circleColor: darkred;
@squareColor: darkgreen;
@triangleColor: darkgoldenrod;

body {
    padding-top: 15px;
}

table.players
{
    td
    {
        padding: 5px;
        margin: 0;
        /*&.pawncell.cross:before,&.pawncell.cross:after {
            top: 5px;
            left: 5px;
        }*/
        &.led-green:after, &.led-orange:after, &.led-red:after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 7px;
            margin: 0 auto;

        }
        &.led-green:after {
            background-color: darkgreen;
            box-shadow: 0 0 3px 1px darkgreen;
        }
        &.led-orange:after {
            background-color: darkorange;
            box-shadow: 0 0 3px 1px darkorange;
        }
        &.led-red:after {
            background-color: darkred;
            box-shadow: 0 0 3px 1px darkred;
        }
    }
    tr.current-player {
        background-color: rgba(0, 0, 0, .25);
    }
}

body
{
    &.disabled {
        background-color: rgb(177, 177, 177);
    }
    &:not(.disabled)
    {
        table.gameboard:not(.tool-expand) td:not(.pawncell):not(.discovered).gamecell {
            border: 1px solid rgba(0, 0, 0, 0);
        }
        .expand-valid {
            background-color: rgba(0, 255, 0, .25);
        }
        .expand-invalid {
            background-color: rgba(255, 0, 0, .25);
        }
    }
    .last-pawn {
        background-color: rgba(0, 0, 0, .25);
    }
    .winning-pawn {
        background-color: rgba(0, 255, 0, .25);
    }
}

table.gameboard, table.gameboard * {
    box-sizing: initial;
}

table.gameboard
{
    margin: 5px;
    border-collapse: collapse;
    border-spacing: 0;

    tr:last-child td.gamecell {
        border-bottom: 3px solid rgb(0, 0, 0) !important;
    }
    tr:first-child td.gamecell {
        border-top: 3px solid rgb(0, 0, 0) !important;
    }
    td.gamecell:first-child {
        border-left: 3px solid rgb(0, 0, 0) !important;
    }
    td.gamecell:last-child {
        border-right: 3px solid rgb(0, 0, 0) !important;
    }

    td.gamecell
    {
        border: 1px solid rgba(0, 0, 0, .1);
        &.discovered, &.pawncell {
            border: 2px solid rgba(0, 0, 0, .25);
            position: relative;
            z-index: 1;
        }
    }
}

td.gamecell
{
    width: @cellSize;
    height: @cellSize;
    margin: 0;
    padding: 0;
    position: relative;

    &.pawncell {
        &.triangle:after {
            content: '';

            border-bottom: (@cellSize - 4) solid @triangleColor;
            border-left: ((@cellSize - 2) / 2) solid transparent;
            border-right: ((@cellSize - 2) / 2) solid transparent;

            position: relative;
            top: -(@cellSize / 2 + 9);
            left: 1px;
        }
        &.square:after {
            content: '';
            display: block;
            background-color: @squareColor;

            height: (@cellSize - 4);
            width: (@cellSize - 4);

            position: relative;
            left: 2px;
        }
        &.circle:after {
            content: '';
            display: block;
            background-color: @circleColor;

            height: (@cellSize - 4);
            width: (@cellSize - 4);

            position: relative;
            left: 2px;
            border-radius: (@cellSize - 4);
        }
        &.cross:before, &.cross:after {
            content: '';
            display: block;
            background-color: @crossColor;

            width: (@cellSize / 4);
            height: (@cellSize + (@cellSize * .17 - 6));

            position: absolute;
            top: (@cellSize * -.09 + 3);
            left: (@cellSize * .38 - 1);
        }
        &.cross:before {
            transform: rotate(-45deg);
        }
        &.cross:after {
            transform: rotate(45deg);
        }
        &.ghostpawn:before, &.ghostpawn:after {
            opacity: .5;
        }
    }
}


.me {
    font-weight: bolder;
}