body {
  padding-top: 15px;
}
table.players td {
  padding: 5px;
  margin: 0;
  /*&.pawncell.cross:before,&.pawncell.cross:after {
            top: 5px;
            left: 5px;
        }*/
}
table.players td.led-green:after,
table.players td.led-orange:after,
table.players td.led-red:after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  margin: 0 auto;
}
table.players td.led-green:after {
  background-color: darkgreen;
  box-shadow: 0 0 3px 1px darkgreen;
}
table.players td.led-orange:after {
  background-color: darkorange;
  box-shadow: 0 0 3px 1px darkorange;
}
table.players td.led-red:after {
  background-color: darkred;
  box-shadow: 0 0 3px 1px darkred;
}
table.players tr.current-player {
  background-color: rgba(0, 0, 0, 0.25);
}
body.disabled {
  background-color: #b1b1b1;
}
body:not(.disabled) table.gameboard:not(.tool-expand) td:not(.pawncell):not(.discovered).gamecell {
  border: 1px solid rgba(0, 0, 0, 0);
}
body:not(.disabled) .expand-valid {
  background-color: rgba(0, 255, 0, 0.25);
}
body:not(.disabled) .expand-invalid {
  background-color: rgba(255, 0, 0, 0.25);
}
body .last-pawn {
  background-color: rgba(0, 0, 0, 0.25);
}
body .winning-pawn {
  background-color: rgba(0, 255, 0, 0.25);
}
table.gameboard,
table.gameboard * {
  box-sizing: initial;
}
table.gameboard {
  margin: 5px;
  border-collapse: collapse;
  border-spacing: 0;
}
table.gameboard tr:last-child td.gamecell {
  border-bottom: 3px solid #000000 !important;
}
table.gameboard tr:first-child td.gamecell {
  border-top: 3px solid #000000 !important;
}
table.gameboard td.gamecell:first-child {
  border-left: 3px solid #000000 !important;
}
table.gameboard td.gamecell:last-child {
  border-right: 3px solid #000000 !important;
}
table.gameboard td.gamecell {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table.gameboard td.gamecell.discovered,
table.gameboard td.gamecell.pawncell {
  border: 2px solid rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
td.gamecell {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  position: relative;
}
td.gamecell.pawncell.triangle:after {
  content: '';
  border-bottom: 16px solid darkgoldenrod;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: relative;
  top: -19px;
  left: 1px;
}
td.gamecell.pawncell.square:after {
  content: '';
  display: block;
  background-color: darkgreen;
  height: 16px;
  width: 16px;
  position: relative;
  left: 2px;
}
td.gamecell.pawncell.circle:after {
  content: '';
  display: block;
  background-color: darkred;
  height: 16px;
  width: 16px;
  position: relative;
  left: 2px;
  border-radius: 16px;
}
td.gamecell.pawncell.cross:before,
td.gamecell.pawncell.cross:after {
  content: '';
  display: block;
  background-color: darkblue;
  width: 5px;
  height: 17.4px;
  position: absolute;
  top: 1.2px;
  left: 6.6px;
}
td.gamecell.pawncell.cross:before {
  transform: rotate(-45deg);
}
td.gamecell.pawncell.cross:after {
  transform: rotate(45deg);
}
td.gamecell.pawncell.ghostpawn:before,
td.gamecell.pawncell.ghostpawn:after {
  opacity: .5;
}
.me {
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */